<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  <link rel="icon" href="/images/favicon.png">

  <!-- Open Graph -->
  <meta property="og:title" content="M. S. Melo">
  <!-- <meta property="og:image" content="https://crieaporradeum.blog/images/card.png"> -->
  <meta property="og:url" content="https://msmelo.blog/">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="M. S. Melo - Blog">
  <meta property="og:description" content="Escrevo, desenho e escovo bits.">
</head>
<body>
  <header>
    {{ partial "nav.html" . }}
    <h1>{{ .Title }}</h1>
    <p>{{ .Page.Params.Subtitle }}</p>
  </header>
  {{ block "main" . }}{{ end }}
  <footer>
    {{ if .Params.post_footer }}
        <p><strong>Escrito por M. S. Melo.</strong> | <a href="https://msmelo.blog/posts/">Veja a lista de Posts.</a></p>
    {{ else }}
        <!-- Conteúdo padrão do rodapé -->
        <p><i>Este sítio é uma adaptação de</i> <a href="https://crieaporradeum.blog/">Crie a Porra de um Blog</a>.</p>
    {{ end }}
</footer>
</body>
</html>
